body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    x-overflow: hidden;
    color: #424242;
    background-color: #ffffff;
    font-size: 16px;
}

/********** ICONS & FONTS ***************************/

@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.3;
}
.extra-big {
    font-size: 6rem;
}

.big {
    font-size: 3rem;
}
.medium {
    font-size: 2rem;
}
.small {
    font-size: 1rem;
}
.ral {
    font-family: "Raleway", sans-serif;
}
.w-100 {
    font-weight: 100;
}
.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-600 {
    font-weight: 600;
}

p.big {
    font-size: 1.3rem;
}
/**************** COLORS ****************/

.white {
    color: #ffffff;
}

.blue {
    color: #009df9;
}
.yellow {
    color: #fde614;;
}
.lightBlue {
    color: #0395fd;
}
.bgWhite {
    background-color: #ffffff;
}
.bgGrey {
    background-color: #313131;
}
.bgGreen {
    background-color: #99f308;
}
.lightRed {
    color: #e3342f;
}
/***********BUTTONS ****************/

.btn-warning {
    background-color: #f3dc11;
}


/******** NAV ***************/

.navbar-laravel {
    font-family: 'Open Sans', sans-serif;
    background-color: #009df9;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fffff;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-light .navbar-toggler {
    border-color: #D1CA80;
}

.navbar-laravel i.fas {
    color: #ffffff;
    font-size: 1.2em;
}

.navbar-laravel i.fa-bars {
    margin-top: 5px;
}

.nav-fill .nav-item {
    padding-top: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.footer-navbar {
    width:100%!importante;
}
/***************** FORMS ******************/
label {
    margin-top:30px;
}
.form-control {
        border: 1px solid #268cf3;
}
.input-group-text {
    background-color: #268cf3;
    border: 1px solid #268cf3;
    color: #fbfbfb;
}
.has-danger {
    border-color:1px solid #f1f1f1;
}
.portada-info label {
    color: #ffffff;
}
/***************** MAIN PAGE *******************/

.py-4 {
    padding-top: 0px!important;
}

.portada {
    background: url(../img/fibra-digi-mobil.jpg ) no-repeat center top;
}

.portada-info {
    background-color: rgba(38, 46, 68, 0.83);
    min-height: 200px;
    padding: 70px 0 30px 0;
}

/***************** TARIFAS DIGI *************/
.combo5 {
    background-color: #0772b1;
}
.combo10 {
    background-color: #951B81;
}
.combo15 {
    background-color: #f5801b;
}
.combo20{
    background-color: #f10064;
}
.mini {
    background-color: #c4eef3;
}
.ilimitado {
    background-color: #3296d2;
}

.navega {
    background-color: #4bb708;
}
.phone {
    background-color: #284838;
}
.pointer {
    cursor: pointer;
}
/*------------SEPARATORS------------*/
.h-20,.h-30,.h-40, .h-50, .h-60 {
    width: 100%;
}
.h-20 {
    min-height: 20px!important;
}
.h-30 {
    min-height: 30px!important;
}
.h-40 {
    min-height: 40px!important;
}
.h-50 {
    min-height: 50px!important;
}
.h-60 {
    min-height: 60px!important;
}

/************* LAYOUTS ************/
.digipack {
    min-height: 600px;
    background: url('../img/tarifas-fibra-digi-mobil.jpg') no-repeat center left;
}
.digicombo {
    min-height: 600px;
    background: url('../img/tarifas-combos-digi-mobil.jpg') no-repeat center top;
}
.contacto {
    background: url('../img/distribuidor-digi.jpg') no-repeat center top;
}
.settings {
    background: url('../img/configurar-apn-digi-mobil.jpg') no-repeat center top;
}
/*--------------------------------------------------|
|             BREAKPOINTS                           |
|---------------------------------------------------|*/

@media (max-width: 576px) {
    /************** FONTS FOR SMALL DEVICES ****************/
    .extra-big {
        font-size: 3rem;
    }
    .big {
        font-size: 2rem;
    }
    .medium {
        font-size: 1.5rem;
    }
    .small {
        font-size:0.75rem;
    }
    .digipack {
        min-height: 200px;
    }

    /*********** NAV ************/
    ul.navbar-nav {
        padding: .5rem 0;
    }
    ul.footer-nav {
        width:100%;
    }
    .navbar-toggler {
        padding: 0.25rem;
    }
    /************ MAIN PAGE ****************/
    .portada-info {
        min-height: 200px;
    }
    .portada button {
        margin: 30px 0;
    }
    .floating-box-card {
        margin: 15px 15px 0px 15px;
    }
    .floating-box-card:last-child {
        margin-bottom: 15px;
    }

    /**************FORMS***************/
    #suscribe {
        background-color: #1f2f54;
    }
    /******* layouts **************/
    .settings {
        background: url('../img/configurar-apn-digi-mobil-small.jpg') no-repeat center top;
    }
}

@media (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {
    .extra-big {
        font-size: 2.5rem;
    }
    .big {
        font-size: 1.9rem;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: .8em;
    }
    .navbar-laravel i.fas {
        font-size: .9em;
    }
}
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {}
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}